# Exploring kaggle dataset: 120 years of Olympic history: athletes and results
***containing:*** bio data on athletes and medal results from Athens 1896 to Rio 2016

## Contents of notebook:
- [ ] insert links here

***Ideas/thoughts to investigate:***
- [ ] Russian medal winning over time
- [ ] Medal winners per capita
- [ ] Medal winners normalised for: total entrants; population; GDP; etc.
    * will have to look at year on year GDP of countries
- [ ] Separate consideration on summer and winter olympics
- [ ] review the variation of sports in the olympics, make this consistent

In [4]:
%load_ext autoreload
%autoreload 2

In [5]:
# increase width of cells in notebook
from IPython.core.display import display, HTML
display(HTML("<style>.container { width:90% !important; }</style>"))

In [6]:
import os
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

/usr/local/Cellar/python/3.6.5/Frameworks/Python.framework/Versions/3.6/lib/python3.6/importlib/_bootstrap.py:219: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  return f(*args, **kwds)
/usr/local/Cellar/python/3.6.5/Frameworks/Python.framework/Versions/3.6/lib/python3.6/importlib/_bootstrap.py:219: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  return f(*args, **kwds)

## 1) Parsing .csv's to dataframes, and previewing

In [9]:
events_df = pd.read_csv('./data/athlete_events.csv')
regions_df = pd.read_csv('./data/noc_regions.csv')

In [10]:
print(events_df.shape)
events_df.head()

(271116, 15)

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN
2,3,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN
3,4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
4,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN

In [11]:
events_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 271116 entries, 0 to 271115
Data columns (total 15 columns):
ID        271116 non-null int64
Name      271116 non-null object
Sex       271116 non-null object
Age       261642 non-null float64
Height    210945 non-null float64
Weight    208241 non-null float64
Team      271116 non-null object
NOC       271116 non-null object
Games     271116 non-null object
Year      271116 non-null int64
Season    271116 non-null object
City      271116 non-null object
Sport     271116 non-null object
Event     271116 non-null object
Medal     39783 non-null object
dtypes: float64(3), int64(2), object(10)
memory usage: 31.0+ MB

In [12]:
# there are missing entries for height and weight
events_df

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True
2,False,False,False,False,True,True,False,False,False,False,False,False,False,False,True
3,False,False,False,False,True,True,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True
5,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True
6,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True
7,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True
8,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True
9,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True
10,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True
11,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True
12,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True
13,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True
14,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True
15,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True
16,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True
17,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True
18,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True
19,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True
20,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True
21,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True
22,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True
23,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True
24,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True
25,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True
26,False,False,False,False,False,True,False,False,False,False,False,False,False,False,True
27,False,False,False,False,False,True,False,False,False,False,False,False,False,False,True
28,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True
29,False,False,False,False,True,True,False,False,False,False,False,False,False,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
271086,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True
271087,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True
271088,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True
271089,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True
271090,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True
271091,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True
271092,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True
271093,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True
271094,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True
271095,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True
271096,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True
271097,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True
271098,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True
271099,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True
271100,False,False,False,False,True,True,False,False,False,False,False,False,False,False,True
271101,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True
271102,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
271103,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
271104,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True
271105,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True
271106,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True
271107,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True
271108,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True
271109,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True
271110,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True
271111,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True
271112,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True
271113,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True
271114,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True
271115,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True

In [13]:
print(regions_df.shape)
regions_df.head()

(230, 3)

   NOC       region                 notes
0  AFG  Afghanistan                   NaN
1  AHO      Curacao  Netherlands Antilles
2  ALB      Albania                   NaN
3  ALG      Algeria                   NaN
4  AND      Andorra                   NaN

In [18]:
regions_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 230 entries, 0 to 229
Data columns (total 3 columns):
NOC       230 non-null object
region    227 non-null object
notes     21 non-null object
dtypes: object(3)
memory usage: 5.5+ KB

## 2) Exploring events_df further

### reviewing missing Height and Weight values in events_df

In [16]:
events_df.describe()

,ID,Age,Height,Weight,Year
count,271116.000000,261642.000000,210945.000000,208241.000000,271116.000000
mean,68248.954396,25.556898,175.338970,70.702393,1978.378480
std,39022.286345,6.393561,10.518462,14.348020,29.877632
min,1.000000,10.000000,127.000000,25.000000,1896.000000
25%,34643.000000,21.000000,168.000000,60.000000,1960.000000
50%,68205.000000,24.000000,175.000000,70.000000,1988.000000
75%,102097.250000,28.000000,183.000000,79.000000,2002.000000
max,135571.000000,97.000000,226.000000,214.000000,2016.000000